<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>ACPI</key>
        <dict>
            <key>Add</key>
            <array>
                <dict>
                    <key>Comment</key>
                    <string></string>
                    <key>Enabled</key>
                    <true/>
                    <key>Path</key>
                    <string>MaLd0n-Modded.aml</string>
                </dict>
                <dict>
                    <key>Comment</key>
                    <string>Working together with CPUFriendFriend</string>
                    <key>Enabled</key>
                    <true/>
                    <key>Path</key>
                    <string>SSDT-DATA.aml</string>
                </dict>
                <dict>
                    <key>Comment</key>
                    <string>Fix System Clocks</string>
                    <key>Enabled</key>
                    <true/>
                    <key>Path</key>
                    <string>SSDT-RTCAWAC.aml</string>
                </dict>
                <dict>
                    <key>Comment</key>
                    <string>USBMapper (don't enable this if you enabled USBPorts.kext on kernel)</string>
                    <key>Enabled</key>
                    <false/>
                    <key>Path</key>
                    <string>SSDT-UIAC.aml</string>
                </dict>
                <dict>
                    <key>Comment</key>
                    <string>Fix Embedded Controller</string>
                    <key>Enabled</key>
                    <true/>
                    <key>Path</key>
                    <string>SSDT-USBX.aml</string>
                </dict>
                <dict>
                    <key>Comment</key>
                    <string>HPET _CRS (Needs _CRS to XCRS Rename)</string>
                    <key>Enabled</key>
                    <true/>
                    <key>Path</key>
                    <string>SSDT-HPET.aml</string>
                </dict>
                <dict>
                    <key>Comment</key>
                    <string>SMBus fix (fail)</string>
                    <key>Enabled</key>
                    <true/>
                    <key>Path</key>
                    <string>SSDT-SBUS-MCHC.aml</string>
                </dict>
                <dict>
                    <key>Comment</key>
                    <string>AWAC Disable</string>
                    <key>Enabled</key>
                    <true/>
                    <key>Path</key>
                    <string>SSDT-AWAC.aml</string>
                </dict>
                <dict>
                    <key>Comment</key>
                    <string>Fix RHUB</string>
                    <key>Enabled</key>
                    <true/>
                    <key>Path</key>
                    <string>SSDT-RHUB.aml</string>
                </dict>
                <dict>
                    <key>Comment</key>
                    <string>Instant Wake Patch</string>
                    <key>Enabled</key>
                    <true/>
                    <key>Path</key>
                    <string>SSDT-GPRW.aml</string>
                </dict>
            </array>
            <key>Delete</key>
            <array/>
            <key>Patch</key>
            <array>
                <dict>
                    <key>Base</key>
                    <string></string>
                    <key>BaseSkip</key>
                    <integer>0</integer>
                    <key>Comment</key>
                    <string>HPET _CRS to XCRS Rename</string>
                    <key>Count</key>
                    <integer>0</integer>
                    <key>Enabled</key>
                    <true/>
                    <key>Find</key>
                    <data>X0NSUwig</data>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>OemTableId</key>
                    <data>AAAAAA==</data>
                    <key>Replace</key>
                    <data>WENSUwig</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                    <key>TableLength</key>
                    <integer>0</integer>
                    <key>TableSignature</key>
                    <data>AAAAAA==</data>
                </dict>
                <dict>
                    <key>Base</key>
                    <string></string>
                    <key>BaseSkip</key>
                    <integer>0</integer>
                    <key>Comment</key>
                    <string>IPIC IRQ 2 Patch</string>
                    <key>Count</key>
                    <integer>0</integer>
                    <key>Enabled</key>
                    <true/>
                    <key>Find</key>
                    <data>IgQAeQA=</data>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>OemTableId</key>
                    <data>AAAAAA==</data>
                    <key>Replace</key>
                    <data>IgAAeQA=</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                    <key>TableLength</key>
                    <integer>0</integer>
                    <key>TableSignature</key>
                    <data>AAAAAA==</data>
                </dict>
                <dict>
                    <key>Base</key>
                    <string></string>
                    <key>BaseSkip</key>
                    <integer>0</integer>
                    <key>Comment</key>
                    <string>RTC IRQ 8 Patch</string>
                    <key>Count</key>
                    <integer>0</integer>
                    <key>Enabled</key>
                    <true/>
                    <key>Find</key>
                    <data>IgABeQA=</data>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>OemTableId</key>
                    <data>AAAAAA==</data>
                    <key>Replace</key>
                    <data>IgAAeQA=</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                    <key>TableLength</key>
                    <integer>0</integer>
                    <key>TableSignature</key>
                    <data>AAAAAA==</data>
                </dict>
                <dict>
                    <key>Base</key>
                    <string></string>
                    <key>BaseSkip</key>
                    <integer>0</integer>
                    <key>Comment</key>
                    <string>TIMR IRQ 0 Patch</string>
                    <key>Count</key>
                    <integer>0</integer>
                    <key>Enabled</key>
                    <true/>
                    <key>Find</key>
                    <data>IgEAeQA=</data>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>OemTableId</key>
                    <data>AAAAAA==</data>
                    <key>Replace</key>
                    <data>IgAAeQA=</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                    <key>TableLength</key>
                    <integer>0</integer>
                    <key>TableSignature</key>
                    <data>AAAAAA==</data>
                </dict>
                <dict>
                    <key>Base</key>
                    <string></string>
                    <key>BaseSkip</key>
                    <integer>0</integer>
                    <key>Comment</key>
                    <string>OSI to XOSI Rename</string>
                    <key>Count</key>
                    <integer>0</integer>
                    <key>Enabled</key>
                    <true/>
                    <key>Find</key>
                    <data>X09TSQ==</data>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>OemTableId</key>
                    <data></data>
                    <key>Replace</key>
                    <data>WE9TSQ==</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                    <key>TableLength</key>
                    <integer>0</integer>
                    <key>TableSignature</key>
                    <data></data>
                </dict>
                <dict>
                    <key>Base</key>
                    <string></string>
                    <key>BaseSkip</key>
                    <integer>0</integer>
                    <key>Comment</key>
                    <string>PRW to XPRW Rename</string>
                    <key>Count</key>
                    <integer>0</integer>
                    <key>Enabled</key>
                    <true/>
                    <key>Find</key>
                    <data>X1BSVw==</data>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>OemTableId</key>
                    <data></data>
                    <key>Replace</key>
                    <data>WFBSVw==</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                    <key>TableLength</key>
                    <integer>0</integer>
                    <key>TableSignature</key>
                    <data></data>
                </dict>
                <dict>
                    <key>Base</key>
                    <string></string>
                    <key>BaseSkip</key>
                    <integer>0</integer>
                    <key>Comment</key>
                    <string>Change UPRW to XPRW</string>
                    <key>Count</key>
                    <integer>0</integer>
                    <key>Enabled</key>
                    <true/>
                    <key>Find</key>
                    <data>VVBSVwI=</data>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>OemTableId</key>
                    <data></data>
                    <key>Replace</key>
                    <data>WFBSVwI=</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                    <key>TableLength</key>
                    <integer>0</integer>
                    <key>TableSignature</key>
                    <data></data>
                </dict>
            </array>
            <key>Quirks</key>
            <dict>
                <key>FadtEnableReset</key>
                <true/>
                <key>NormalizeHeaders</key>
                <false/>
                <key>RebaseRegions</key>
                <false/>
                <key>ResetHwSig</key>
                <false/>
                <key>ResetLogoStatus</key>
                <true/>
                <key>SyncTableIds</key>
                <false/>
            </dict>
        </dict>
    </dict>
</plist>
