<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Booter</key>
        <dict>
            <key>MmioWhitelist</key>
            <array>
                <dict>
                    <key>Address</key>
                    <integer>4275159040</integer>
                    <key>Comment</key>
                    <string>Haswell: SB_RCBA is a 0x4 page memory region, containing SPI_BASE at 0x3800 (SPI_BASE_ADDRESS)</string>
                    <key>Enabled</key>
                    <false/>
                </dict>
                <dict>
                    <key>Address</key>
                    <integer>4278190080</integer>
                    <key>Comment</key>
                    <string>Generic: PCI root is a 0x1000 page memory region used by some types of firmware</string>
                    <key>Enabled</key>
                    <false/>
                </dict>
            </array>
            <key>Patch</key>
            <array>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>Comment</key>
                    <string>macOS to hacOS</string>
                    <key>Count</key>
                    <integer>1</integer>
                    <key>Enabled</key>
                    <false/>
                    <key>Find</key>
                    <data>bWFjT1M=</data>
                    <key>Identifier</key>
                    <string>Apple</string>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>Replace</key>
                    <data>aGFjT1M=</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
            </array>
            <key>Quirks</key>
            <dict>
                <key>AllowRelocationBlock</key>
                <false/>
                <key>AvoidRuntimeDefrag</key>
                <true/>
                <key>DevirtualiseMmio</key>
                <false/>
                <key>DisableSingleUser</key>
                <false/>
                <key>DisableVariableWrite</key>
                <false/>
                <key>DiscardHibernateMap</key>
                <true/>
                <key>EnableSafeModeSlide</key>
                <true/>
                <key>EnableWriteUnprotector</key>
                <false/>
                <key>ForceBooterSignature</key>
                <false/>
                <key>ForceExitBootServices</key>
                <false/>
                <key>ProtectMemoryRegions</key>
                <false/>
                <key>ProtectSecureBoot</key>
                <false/>
                <key>ProtectUefiServices</key>
                <true/>
                <key>ProvideCustomSlide</key>
                <true/>
                <key>ProvideMaxSlide</key>
                <integer>0</integer>
                <key>RebuildAppleMemoryMap</key>
                <true/>
                <key>ResizeAppleGpuBars</key>
                <integer>-1</integer>
                <key>SetupVirtualMap</key>
                <false/>
                <key>SignalAppleOS</key>
                <false/>
                <key>SyncRuntimePermissions</key>
                <true/>
            </dict>
        </dict>
    </dict>
</plist>
