<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Kernel</key>
        <dict>
            <key>Add</key>
            <array>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>BundlePath</key>
                    <string>Lilu.kext</string>
                    <key>Comment</key>
                    <string>V1.6.7 | Patch engine</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/Lilu</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string>8.0.0</string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>BundlePath</key>
                    <string>VirtualSMC.kext</string>
                    <key>Comment</key>
                    <string>V1.3.2 | SMC emulator</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/VirtualSMC</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string>8.0.0</string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>BundlePath</key>
                    <string>AppleALC.kext</string>
                    <key>Comment</key>
                    <string>V1.9.0 | Audio patches</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/AppleALC</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string>8.0.0</string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>BundlePath</key>
                    <string>AirportItlwm.kext</string>
                    <key>Comment</key>
                    <string>V2.3.0</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/AirportItlwm</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>BundlePath</key>
                    <string>ECEnabler.kext</string>
                    <key>Comment</key>
                    <string>V1.0.5</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/ECEnabler</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>BundlePath</key>
                    <string>USBPorts.kext</string>
                    <key>Comment</key>
                    <string>V1.0</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string></string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>BundlePath</key>
                    <string>RestrictEvents.kext</string>
                    <key>Comment</key>
                    <string>V1.1.4</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/RestrictEvents</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>BundlePath</key>
                    <string>CPUFriend.kext</string>
                    <key>Comment</key>
                    <string>V1.2.7</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/CPUFriend</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>BundlePath</key>
                    <string>CPUFriendDataProvider.kext</string>
                    <key>Comment</key>
                    <string>V1.0.1</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string></string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>BundlePath</key>
                    <string>CpuTscSync.kext</string>
                    <key>Comment</key>
                    <string>V1.1.1</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/CpuTscSync</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>BundlePath</key>
                    <string>NVMeFix.kext</string>
                    <key>Comment</key>
                    <string>V1.1.2</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/NVMeFix</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>BundlePath</key>
                    <string>IntelBTPatcher.kext</string>
                    <key>Comment</key>
                    <string>V2.4.0</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/IntelBTPatcher</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>BundlePath</key>
                    <string>IntelBluetoothFirmware.kext</string>
                    <key>Comment</key>
                    <string>V2.4.0</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/IntelBluetoothFirmware</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>BundlePath</key>
                    <string>VoodooPS2Controller.kext</string>
                    <key>Comment</key>
                    <string>V2.3.5</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/VoodooPS2Controller</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string>15.0.0</string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>BundlePath</key>
                    <string>WhateverGreen.kext</string>
                    <key>Comment</key>
                    <string>V1.6.6</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/WhateverGreen</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string>10.0.0</string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>BundlePath</key>
                    <string>VoodooPS2Controller.kext/Contents/PlugIns/VoodooPS2Keyboard.kext</string>
                    <key>Comment</key>
                    <string>V2.3.5</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/VoodooPS2Keyboard</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string>15.0.0</string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>BundlePath</key>
                    <string>VoodooI2C.kext/Contents/PlugIns/VoodooGPIO.kext</string>
                    <key>Comment</key>
                    <string>V1.1</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/VoodooGPIO</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>BundlePath</key>
                    <string>VoodooI2C.kext/Contents/PlugIns/VoodooI2CServices.kext</string>
                    <key>Comment</key>
                    <string>V1</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/VoodooI2CServices</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>BundlePath</key>
                    <string>VoodooI2C.kext/Contents/PlugIns/VoodooInput.kext</string>
                    <key>Comment</key>
                    <string>V1.1.4</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/VoodooInput</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>BundlePath</key>
                    <string>SMCBatteryManager.kext</string>
                    <key>Comment</key>
                    <string>V1.3.3</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/SMCBatteryManager</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>BundlePath</key>
                    <string>SMCProcessor.kext</string>
                    <key>Comment</key>
                    <string>V1.3.3</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/SMCProcessor</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>BundlePath</key>
                    <string>USBInjectAll.kext</string>
                    <key>Comment</key>
                    <string>V0.8.0</string>
                    <key>Enabled</key>
                    <false/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/USBInjectAll</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>BundlePath</key>
                    <string>BlueToolFixup.kext</string>
                    <key>Comment</key>
                    <string>V2.6.8</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/BlueToolFixup</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>BundlePath</key>
                    <string>BrightnessKeys.kext</string>
                    <key>Comment</key>
                    <string>V1.0.4</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/BrightnessKeys</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>BundlePath</key>
                    <string>HibernationFixup.kext</string>
                    <key>Comment</key>
                    <string>V1.5.0</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/HibernationFixup</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>BundlePath</key>
                    <string>VoodooI2C.kext</string>
                    <key>Comment</key>
                    <string>V2.8</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/VoodooI2C</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>BundlePath</key>
                    <string>VoodooI2CHID.kext</string>
                    <key>Comment</key>
                    <string>V1</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/VoodooI2CHID</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
            </array>
            <key>Block</key>
            <array>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>Comment</key>
                    <string></string>
                    <key>Enabled</key>
                    <false/>
                    <key>Identifier</key>
                    <string>com.apple.driver.AppleTyMCEDriver</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>Strategy</key>
                    <string>Disable</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>Comment</key>
                    <string></string>
                    <key>Enabled</key>
                    <false/>
                    <key>Identifier</key>
                    <string>com.apple.iokit.IOSkywalkFamily</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string>23.0.0</string>
                    <key>Strategy</key>
                    <string>Exclude</string>
                </dict>
            </array>
            <key>Emulate</key>
            <dict>
                <key>Cpuid1Data</key>
                <data></data>
                <key>Cpuid1Mask</key>
                <data></data>
                <key>DummyPowerManagement</key>
                <false/>
                <key>MaxKernel</key>
                <string></string>
                <key>MinKernel</key>
                <string></string>
            </dict>
            <key>Force</key>
            <array>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>BundlePath</key>
                    <string>System/Library/Extensions/IONetworkingFamily.kext</string>
                    <key>Comment</key>
                    <string></string>
                    <key>Enabled</key>
                    <false/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/IONetworkingFamily</string>
                    <key>Identifier</key>
                    <string>com.apple.iokit.IONetworkingFamily</string>
                    <key>MaxKernel</key>
                    <string>13.99.99</string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
            </array>
            <key>Patch</key>
            <array>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>Base</key>
                    <string>__ZN8AppleRTC18setupDateTimeAlarmEPK11RTCDateTime</string>
                    <key>Comment</key>
                    <string>Disable RTC wake scheduling</string>
                    <key>Count</key>
                    <integer>1</integer>
                    <key>Enabled</key>
                    <false/>
                    <key>Find</key>
                    <data></data>
                    <key>Identifier</key>
                    <string>com.apple.driver.AppleRTC</string>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string>19.0.0</string>
                    <key>Replace</key>
                    <data>ww==</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>Base</key>
                    <string>_AcpiOsVprintf</string>
                    <key>Comment</key>
                    <string>Disable ACPI logging</string>
                    <key>Count</key>
                    <integer>0</integer>
                    <key>Enabled</key>
                    <false/>
                    <key>Find</key>
                    <data></data>
                    <key>Identifier</key>
                    <string>com.apple.driver.AppleACPIPlatform</string>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>MaxKernel</key>
                    <string>18.5.0</string>
                    <key>MinKernel</key>
                    <string>18.5.0</string>
                    <key>Replace</key>
                    <data>ww==</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>Base</key>
                    <string>__ZN11BCM5701Enet14getAdapterInfoEv</string>
                    <key>Comment</key>
                    <string>Broadcom BCM57785 patch</string>
                    <key>Count</key>
                    <integer>1</integer>
                    <key>Enabled</key>
                    <false/>
                    <key>Find</key>
                    <data>6AAA//9miYMABQAA</data>
                    <key>Identifier</key>
                    <string>com.apple.iokit.AppleBCM5701Ethernet</string>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data>/wAA////////////</data>
                    <key>MaxKernel</key>
                    <string>19.9.9</string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>Replace</key>
                    <data>uLQWAABmiYMABQAA</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>Base</key>
                    <string>_panic</string>
                    <key>Comment</key>
                    <string>Send panic string to serial port</string>
                    <key>Count</key>
                    <integer>1</integer>
                    <key>Enabled</key>
                    <false/>
                    <key>Find</key>
                    <data></data>
                    <key>Identifier</key>
                    <string>kernel</string>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>Replace</key>
                    <data>MfaKD4TJdQT/xrEKZrr9A+yoIHT7Zrr4A4jI7kj/x4X2dN/r/g==</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>Base</key>
                    <string>_kernel_debug_string_early</string>
                    <key>Comment</key>
                    <string>Send early prints to serial port</string>
                    <key>Count</key>
                    <integer>1</integer>
                    <key>Enabled</key>
                    <false/>
                    <key>Find</key>
                    <data></data>
                    <key>Identifier</key>
                    <string>kernel</string>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>Replace</key>
                    <data>MfaKD4TJdQT/xrEKZrr9A+yoIHT7Zrr4A4jI7kj/x4X2dN/D</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>Base</key>
                    <string>_disable_serial_output</string>
                    <key>Comment</key>
                    <string>Enable early serial output on RELEASE kernel</string>
                    <key>Count</key>
                    <integer>1</integer>
                    <key>Enabled</key>
                    <false/>
                    <key>Find</key>
                    <data></data>
                    <key>Identifier</key>
                    <string>kernel</string>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>Replace</key>
                    <data>AA==</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>Base</key>
                    <string>_vstart</string>
                    <key>Comment</key>
                    <string>Print K and dead loop</string>
                    <key>Count</key>
                    <integer>1</integer>
                    <key>Enabled</key>
                    <false/>
                    <key>Find</key>
                    <data></data>
                    <key>Identifier</key>
                    <string>kernel</string>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>Replace</key>
                    <data>sUtmuv0D7KggdPtmuvgDiMjusQpmuv0D7KggdPtmuvgDiMju6/4=</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>Base</key>
                    <string>_vstart</string>
                    <key>Comment</key>
                    <string>Early reboot</string>
                    <key>Count</key>
                    <integer>1</integer>
                    <key>Enabled</key>
                    <false/>
                    <key>Find</key>
                    <data></data>
                    <key>Identifier</key>
                    <string>kernel</string>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>Replace</key>
                    <data>McCwBrr5DAAA7uv+</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>Base</key>
                    <string>_early_random</string>
                    <key>Comment</key>
                    <string>SurPlus v1 - PART 1 of 2 - Patch read_erandom (inlined in _early_random)</string>
                    <key>Count</key>
                    <integer>1</integer>
                    <key>Enabled</key>
                    <false/>
                    <key>Find</key>
                    <data>AHQjSIs=</data>
                    <key>Identifier</key>
                    <string>kernel</string>
                    <key>Limit</key>
                    <integer>800</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>MaxKernel</key>
                    <string>21.1.0</string>
                    <key>MinKernel</key>
                    <string>20.4.0</string>
                    <key>Replace</key>
                    <data>AOsjSIs=</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>Base</key>
                    <string>_register_and_init_prng</string>
                    <key>Comment</key>
                    <string>SurPlus v1 - PART 2 of 2 - Patch register_and_init_prng</string>
                    <key>Count</key>
                    <integer>1</integer>
                    <key>Enabled</key>
                    <false/>
                    <key>Find</key>
                    <data>ukgBAAAx9g==</data>
                    <key>Identifier</key>
                    <string>kernel</string>
                    <key>Limit</key>
                    <integer>256</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>MaxKernel</key>
                    <string>21.1.0</string>
                    <key>MinKernel</key>
                    <string>20.4.0</string>
                    <key>Replace</key>
                    <data>ukgBAADrBQ==</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
            </array>
            <key>Quirks</key>
            <dict>
                <key>AppleCpuPmCfgLock</key>
                <true/>
                <key>AppleXcpmCfgLock</key>
                <true/>
                <key>AppleXcpmExtraMsrs</key>
                <false/>
                <key>AppleXcpmForceBoost</key>
                <false/>
                <key>CustomPciSerialDevice</key>
                <false/>
                <key>CustomSMBIOSGuid</key>
                <false/>
                <key>DisableIoMapper</key>
                <false/>
                <key>DisableLinkeditJettison</key>
                <true/>
                <key>DisableRtcChecksum</key>
                <false/>
                <key>ExtendBTFeatureFlags</key>
                <false/>
                <key>ExternalDiskIcons</key>
                <false/>
                <key>ForceAquantiaEthernet</key>
                <false/>
                <key>ForceSecureBootScheme</key>
                <false/>
                <key>IncreasePciBarSize</key>
                <false/>
                <key>LapicKernelPanic</key>
                <false/>
                <key>LegacyCommpage</key>
                <false/>
                <key>PanicNoKextDump</key>
                <true/>
                <key>PowerTimeoutKernelPanic</key>
                <true/>
                <key>ProvideCurrentCpuInfo</key>
                <false/>
                <key>SetApfsTrimTimeout</key>
                <integer>-1</integer>
                <key>ThirdPartyDrives</key>
                <false/>
                <key>XhciPortLimit</key>
                <false/>
            </dict>
            <key>Scheme</key>
            <dict>
                <key>CustomKernel</key>
                <false/>
                <key>FuzzyMatch</key>
                <true/>
                <key>KernelArch</key>
                <string>Auto</string>
                <key>KernelCache</key>
                <string>Auto</string>
            </dict>
        </dict>
    </dict>
</plist>
