<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Misc</key>
        <dict>
            <key>BlessOverride</key>
            <array/>
            <key>Boot</key>
            <dict>
                <key>ConsoleAttributes</key>
                <integer>0</integer>
                <key>HibernateMode</key>
                <string>None</string>
                <key>HibernateSkipsPicker</key>
                <false/>
                <key>HideAuxiliary</key>
                <false/>
                <key>LauncherOption</key>
                <string>Full</string>
                <key>LauncherPath</key>
                <string>Default</string>
                <key>PickerAttributes</key>
                <integer>255</integer>
                <key>PickerAudioAssist</key>
                <false/>
                <key>PickerMode</key>
                <string>External</string>
                <key>PickerVariant</key>
                <string>Acidanthera\GoldenGate</string>
                <key>PollAppleHotKeys</key>
                <true/>
                <key>ShowPicker</key>
                <true/>
                <key>TakeoffDelay</key>
                <integer>0</integer>
                <key>Timeout</key>
                <integer>3</integer>
            </dict>
            <key>Debug</key>
            <dict>
                <key>AppleDebug</key>
                <false/>
                <key>ApplePanic</key>
                <false/>
                <key>DisableWatchDog</key>
                <true/>
                <key>DisplayDelay</key>
                <integer>0</integer>
                <key>DisplayLevel</key>
                <integer>2147483650</integer>
                <key>LogModules</key>
                <string>*</string>
                <key>SysReport</key>
                <false/>
                <key>Target</key>
                <integer>0</integer>
            </dict>
            <key>Entries</key>
            <array>
                <dict>
                    <key>Arguments</key>
                    <string></string>
                    <key>Auxiliary</key>
                    <false/>
                    <key>Comment</key>
                    <string>Not signed for security reasons</string>
                    <key>Enabled</key>
                    <false/>
                    <key>Flavour</key>
                    <string>Auto</string>
                    <key>Name</key>
                    <string>CustomOS</string>
                    <key>Path</key>
                    <string>PciRoot(0x0)/Pci(0x1,0x1)/Pci(0x0,0x0)/NVMe(0x1,11-22-33-44-55-66-77-88)/HD(1,GPT,00000000-0000-0000-0000-000000000000,0x800,0x64000)/\EFI\BOOT\BOOTX64.EFI</string>
                    <key>TextMode</key>
                    <false/>
                </dict>
            </array>
            <key>Security</key>
            <dict>
                <key>AllowSetDefault</key>
                <true/>
                <key>ApECID</key>
                <integer>0</integer>
                <key>AuthRestart</key>
                <false/>
                <key>BlacklistAppleUpdate</key>
                <true/>
                <key>DmgLoading</key>
                <string>Signed</string>
                <key>EnablePassword</key>
                <false/>
                <key>ExposeSensitiveData</key>
                <integer>15</integer>
                <key>HaltLevel</key>
                <integer>2147483648</integer>
                <key>PasswordHash</key>
                <data></data>
                <key>PasswordSalt</key>
                <data></data>
                <key>ScanPolicy</key>
                <integer>0</integer>
                <key>SecureBootModel</key>
                <string>Default</string>
                <key>Vault</key>
                <string>Optional</string>
            </dict>
            <key>Serial</key>
            <dict>
                <key>Custom</key>
                <dict>
                    <key>BaudRate</key>
                    <integer>115200</integer>
                    <key>ClockRate</key>
                    <integer>1843200</integer>
                    <key>DetectCable</key>
                    <false/>
                    <key>ExtendedTxFifoSize</key>
                    <integer>64</integer>
                    <key>FifoControl</key>
                    <integer>7</integer>
                    <key>LineControl</key>
                    <integer>3</integer>
                    <key>PciDeviceInfo</key>
                    <data>/w==</data>
                    <key>RegisterAccessWidth</key>
                    <integer>8</integer>
                    <key>RegisterBase</key>
                    <integer>1016</integer>
                    <key>RegisterStride</key>
                    <integer>1</integer>
                    <key>UseHardwareFlowControl</key>
                    <false/>
                    <key>UseMmio</key>
                    <false/>
                </dict>
                <key>Init</key>
                <false/>
                <key>Override</key>
                <false/>
            </dict>
            <key>Tools</key>
            <array>
                <dict>
                    <key>Arguments</key>
                    <string></string>
                    <key>Auxiliary</key>
                    <false/>
                    <key>Comment</key>
                    <string>Not signed for security reasons</string>
                    <key>Enabled</key>
                    <false/>
                    <key>Flavour</key>
                    <string>OpenShell:UEFIShell:Shell</string>
                    <key>FullNvramAccess</key>
                    <false/>
                    <key>Name</key>
                    <string>UEFI Shell</string>
                    <key>Path</key>
                    <string>OpenShell.efi</string>
                    <key>RealPath</key>
                    <false/>
                    <key>TextMode</key>
                    <false/>
                </dict>
                <dict>
                    <key>Arguments</key>
                    <string>Shutdown</string>
                    <key>Auxiliary</key>
                    <false/>
                    <key>Comment</key>
                    <string>Perform shutdown</string>
                    <key>Enabled</key>
                    <false/>
                    <key>Flavour</key>
                    <string>Auto</string>
                    <key>FullNvramAccess</key>
                    <false/>
                    <key>Name</key>
                    <string>Shutdown</string>
                    <key>Path</key>
                    <string>ResetSystem.efi</string>
                    <key>RealPath</key>
                    <false/>
                    <key>TextMode</key>
                    <false/>
                </dict>
                <dict>
                    <key>Arguments</key>
                    <string></string>
                    <key>Auxiliary</key>
                    <true/>
                    <key>Comment</key>
                    <string></string>
                    <key>Enabled</key>
                    <true/>
                    <key>Flavour</key>
                    <string>Auto</string>
                    <key>FullNvramAccess</key>
                    <true/>
                    <key>Name</key>
                    <string>ControlMsrE2</string>
                    <key>Path</key>
                    <string>ControlMsrE2.efi</string>
                    <key>RealPath</key>
                    <true/>
                    <key>TextMode</key>
                    <true/>
                </dict>
            </array>
        </dict>
    </dict>
</plist>
