<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>NVRAM</key>
        <dict>
            <key>Add</key>
            <dict>
                <key>4D1EDE05-38C7-4A6A-9CC6-4BCCA8B38C14</key>
                <dict>
                    <key>DefaultBackgroundColor</key>
                    <data>AAAAAA==</data>
                </dict>
                <key>4D1FDA02-38C7-4A6A-9CC6-4BCCA8B30102</key>
                <dict>
                    <key>rtc-blacklist</key>
                    <data></data>
                </dict>
                <key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
                <dict>
                    <key>ForceDisplayRotationInEFI</key>
                    <integer>0</integer>
                    <key>SystemAudioVolume</key>
                    <data>Rg==</data>
                    <key>bluetoothExternalDongleFailed</key>
                    <data>AA==</data>
                    <key>bluetoothInternalControllerInfo</key>
                    <data>AAAAAAAAAAAAAAAAAAA=</data>
                    <key>boot-args</key>
                    <string>-v agdpmod=vit9696 debug=0x100 alcid=11 -igfxblr -igfxblt igfxbls igfxfw=2 igfxrpsc=1 -vi2c-force-polling -igfxbls TSC_sync_margin=0 watchdog=0 revpatch=sbvmm -no_compat_check hbfx-dump-nvram hbfx-ahbm=1 swd_panic=1</string>
                    <key>csr-active-config</key>
                    <data>AAAAAA==</data>
                    <key>prev-lang:kbd</key>
                    <data></data>
                    <key>run-efi-updater</key>
                    <string>No</string>
                </dict>
            </dict>
            <key>Delete</key>
            <dict>
                <key>4D1EDE05-38C7-4A6A-9CC6-4BCCA8B38C14</key>
                <array>
                    <string>DefaultBackgroundColor</string>
                </array>
                <key>4D1FDA02-38C7-4A6A-9CC6-4BCCA8B30102</key>
                <array>
                    <string>rtc-blacklist</string>
                </array>
                <key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
                <array>
                    <string>boot-args</string>
                    <string>ForceDisplayRotationInEFI</string>
                </array>
            </dict>
            <key>LegacyOverwrite</key>
            <false/>
            <key>LegacySchema</key>
            <dict>
                <key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
                <array>
                    <string>EFILoginHiDPI</string>
                    <string>EFIBluetoothDelay</string>
                    <string>LocationServicesEnabled</string>
                    <string>SystemAudioVolume</string>
                    <string>SystemAudioVolumeDB</string>
                    <string>SystemAudioVolumeSaved</string>
                    <string>bluetoothActiveControllerInfo</string>
                    <string>bluetoothInternalControllerInfo</string>
                    <string>flagstate</string>
                    <string>fmm-computer-name</string>
                    <string>fmm-mobileme-token-FMM</string>
                    <string>fmm-mobileme-token-FMM-BridgeHasAccount</string>
                    <string>nvda_drv</string>
                    <string>prev-lang:kbd</string>
                    <string>backlight-level</string>
                    <string>BootCampHD</string>
                </array>
                <key>8BE4DF61-93CA-11D2-AA0D-00E098032B8C</key>
                <array>
                    <string>Boot0080</string>
                    <string>Boot0081</string>
                    <string>Boot0082</string>
                    <string>BootNext</string>
                    <string>BootOrder</string>
                </array>
            </dict>
            <key>WriteFlash</key>
            <true/>
        </dict>
    </dict>
</plist>
